{% extends 'base.html' %}


{% block body %}

<form action="{% url 'practice_article:create' %}" class="mt-4" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="mb-3">
        <label for="content">content</label>
        <textarea name="content" id="content" class="form-control" cols="30" rows="10"></textarea>
    </div>

    <input type="submit" class="btn btn-primary">
</form>

{% endblock %}